body {
    font-family: Helvetica;
    min-height: 100vmin;
    background-color: #1d1d1d;
    font-weight: 400;
    color: white;
}

.flex {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 6vmin;
    margin-left: 15vmin;
}

.input {
    padding: 1vmin;
    border: 1px solid #1DB954;
    border-radius: 1vh;
}

.form_edit {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
}

.button {
    border-radius: 2vmin;
    max-width: 35vmin;
    background-color: #1DB954;
    text-decoration: none;
    font-weight: 700;
    padding: 2vmin;
    cursor: pointer;
}

.selection {
    border-radius: 2vmin;
    margin-top: 2vmin;
    max-width: 35vmin;
    background-color: #1DB954;
    text-decoration: none;
    font-weight: 700;
    padding: 1vmin;
    cursor: pointer;
}

.title {
    font-size: 24px;
    font-weight: 700;
}
