body {
    font-family: "Helvetica";
    font-weight: 400;
    background-color: #1d1d1d;
    color: white;
}

.flex {
    display: flex;
}

.cover {
    width: 100%;
    height: undefined;
    border-radius: 0.5vh;
    margin-right: 10vmin;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 5vmin;
}

.container {
    display: flex;
    flex-direction: column;
}

.user_content {
    display: flex;
    flex-direction: row;
}

.content-left {
    display: flex;
    flex-direction: column;
    margin-right: 10vmin;
    justify-content: space-between;
}

.admin_content {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
}

.audio_source {
    margin-bottom: 3vmin;
}

section {
    margin-bottom: 3vmin;
}

.button {
    border-radius: 2vh;
    background-color: #1DB954;
    text-decoration: none;
    font-weight: 700;
    width: 50%;
    padding: 2vh;
    cursor: pointer;
}

.selection {
    border-radius: 2vh;
    text-decoration: none;
    font-weight: 700;
    padding: 1vh;
    cursor: pointer;
}

.title {
    font-size: 24px;
    font-weight: 700;
    margin-left: 5vmin;
}
