body {
    font-family: 'Helvetica';
    background-color: #1d1d1d;
}

.users-list {
    display: flex;
}

table{
    color:white;
    width:50%;
    border-collapse: collapse;
    margin-left:3rem;
}

th {
    background-color: #1ed760;
    color: black;
    padding: 2vmin;
    text-align: center;
}

td {
    padding: 1.5vmin;
    padding-left:1rem;
    text-align: center;
}

tr {
    border-bottom: 1px solid #a2a3a3;
    transition-duration: 0.1s;
}

tr:hover{
    color:black;
    background-color: #88e2a8;
}

.list-of-users {
    color: white;
    padding-left: 3rem;
    padding-top: 1rem;
}

.email{
    text-align:right
}

.container {
    margin-top: 1%;
    margin-bottom: 1%;
}