* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vmin;
    background-color: #1d1d1d;
}

.flex {
    display: flex;
}

.content-table {
    margin-top: 1%;
    margin-bottom: 1%;
}

table {
    border-collapse: collapse;
    border-spacing: 1vmin;
}


th {
    text-align: left;
    border-bottom: 1px solid #a2a3a3;
    color: #a2a3a3;
    padding-bottom: 1%;
    font-weight:lighter;
}

tr {
    padding-top: 2%;
}

.card {
    width: 75%;
    height: max-content;
    margin: 0 auto;
    margin-top: 5%;
}


.subcard:hover {
    cursor: pointer;
    background-color: #535854;
    margin-left: 5%;
    margin-right: 5%;
}

.first-index {
    text-align: center;
}

.index {
    color: #a2a3a3;
    text-align: center;
}

.main-content {
    margin-left: 3%;
    padding-top: 1%;
}

.title {
    color: white;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
}

.writer {
    color: #a2a3a3;
}

.genre {
    color: #a2a3a3;
    padding-top: 1.5%;
}

.year {
    color: #a2a3a3;
    padding-top: 1.5%;
}

.button {
    color: #a2a3a3;
}

.button:hover {
    color: white;
    text-decoration: underline;
}